/build

*.class

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.project
.classpath
.settings

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#Extra Folders
/unused
**/.DS_Store
